# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Database
*.db
*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
.DS_Store

# IDE
.vscode/
.idea/

mimari_notlar_adimi1.md
uploads/
celerybeat-schedule
1.5.2918.pdf
aws_migration_report.md

# Kubernetes & AWS Secrets
**/*secrets*.yaml
.env
.env.prod
aws_migration_report.md
k8s-aws/*secrets*.yaml
TESTING_JOURNEY_DETAIL.md
WHY_TEST_AND_WHAT_WE_TESTED.md